<div class="col-12">
  <p class="ps-3">
    <%= image_tag "groups/groups-logo.svg", class: "ms-3", size: "48x48" %>
    &emsp; <span class="fs-3 fw-bold text-primary">
      <%= "#{@group&.name}".html_safe %>
    </span>
    <span class="float-end">
      <%= link_to groups_path, class: "btn btn-light me-3" do %>
        Chiudi
      <% end %>
    </span>
  </p>
  <hr class="m-3">
  <div class="card bg-white border pt-3 pb-3 ps-4 pe-4">
    <div class="row">
      <div class="col-3">
        <span class="text-primary">
          <i class="fa-solid fa-users"></i>&emsp;Nome Gruppo:
        </span>
        <br/>
        <span class="text-dark fs-4 fw-bold">
          <%= @group.name %>
        </span>
      </div>
      <div class="col-9 p-3 bg-white border">
        <h4 class="text-primary">
          <%= image_tag "users/users-logo.svg", class: "ms-3", size: "36x36" %>
          &emsp;
          Utenti appartenenti al Gruppo
        </h4>
        <hr/>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                <i class="fa-solid fa-circle-user"></i>&emsp;Nome Utente
              </th>
              <th>
                <i class="fa-solid fa-users"></i>&emsp;Nome e Cognome
              </th>
              <th>
                <i class="fa-solid fa-square"></i>&emsp;Categoria
              </th>
              <th>
                <i class="fa-solid fa-location-pin"></i>&emsp;Regione
              </th>
              <th>
                <i class="fa-solid fa-location-dot"></i>&emsp;Provincia
              </th>
            </tr>
          </thead>
          <tbody>
            <% @group.users.each do |user| %>
              <tr>
                <td>
                  <%= link_to user do %>
                    <i class="fa-solid fa-circle-user"></i>&emsp;<%= user.username %>
                  <% end %>
                </td>
                <td><%= "#{user.first_name} #{user.last_name}".html_safe %></td>
                <td><%= user.category %></td>
                <td><%= user.region %></td>
                <td><%= user.province %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>