<div class="col-12">
  <p class="ps-3">
    <%= user_avatar(@user)%>
    &emsp; <span class="fs-3 fw-bold text-primary">
      <%= "#{@user&.first_name} #{@user&.last_name}" %>
    </span>
    <span class="float-end">
      <%= link_to users_path, class: "btn btn-light me-3" do %>
        <i class="fa-regular fa-circle-xmark"></i>&emsp;Chiudi
      <% end %>
    </span>
  </p>
  <div class="card bg-white border p-3">
    <div class="row">
      <div class="col-6">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-user"></i>&emsp;Nome:</td>
              <td class="text-dark"><%= @user.first_name %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-user-group"></i>&emsp;Cognome:</td>
              <td class="text-dark"><%= @user.last_name %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-mars-and-venus"></i>&emsp;Sesso:</td>
              <td class="text-dark"><%= @user.gender %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-calendar-day"></i>&emsp;Data di Nascita:</td>
              <td class="text-dark"><%= l(@user.birth_date) if @user.birth_date.present? %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-city"></i>&emsp;Luogo di Nascita:</td>
              <td class="text-dark"><%= @user.birth_place %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-id-badge"></i>&emsp;Codice Fiscale:</td>
              <td class="text-dark"><%= @user.fiscal_code %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-circle-user"></i>&emsp;Nome Utente:</td>
              <td class="text-dark"><%= @user.username %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-key"></i>&emsp;Password:</td>
              <td class="text-dark"><%= @user.password %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-at"></i>&emsp;E-Mail:</td>
              <td class="text-dark"><%= @user.email %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-square"></i>&emsp;Categoria:</td>
              <td class="text-dark"><%= @user.category %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-location-pin"></i>&emsp;Regione:</td>
              <td class="text-dark"><%= @user.region %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-location-dot"></i>&emsp;Provincia:</td>
              <td class="text-dark"><%= @user.province %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-building"></i>&emsp;Istituto:</td>
              <td class="text-dark"><%= @user.institute %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-building-user"></i>&emsp;Ufficio:</td>
              <td class="text-dark"><%= @user.office %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="text-primary mt-4 mb-4"/>
    <div class="row">
      <div class="col-6">
        <h4 class="text-primary">
          <%= image_tag "groups/groups-logo.svg", class: "ms-3", size: "36x36" %>
          &emsp;
          Gruppi di appartenenza
        </h4>
        <hr/>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="text-secondary">
                <i class="fa-solid fa-users"></i>&emsp;Gruppo
              </th>
            </tr>
          </thead>
          <tbody>
            <% @user.groups.each do |group| %>
              <tr>
                <td>
                  <%= link_to group do %>
                    <i class="fa-solid fa-users"></i>&emsp;<%= group.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <h4 class="text-primary">
          <%= image_tag "nodes/nodes-logo.svg", class: "ms-3", size: "36x36" %>
          &emsp;
          Nodi a cui l'utente &egrave; stato assegnato
        </h4>
        <hr/>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="text-secondary">
                <i class="fa-solid fa-folder-tree"></i>&emsp;Nodo SinCGIL
              </th>
            </tr>
          </thead>
          <tbody>
            <% @user.nodes.each do |node| %>
              <tr>
                <td>
                  <%= link_to node do %>
                    <i class="fa-solid fa-folder"></i>&emsp;<%= node.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="text-primary mt-4 mb-4"/>
    <div class="row">
      <div class="col-12">
        <h4 class="text-primary">
          <%= image_tag "features/features-logo.svg", class: "ms-3", size: "36x36" %>
          &emsp;
          Attributi e voci per nodo, come Utente
        </h4>
        <hr/>
        <% @user.nodes.order(:ancestry_depth, :name).each do |node| %>
          <div class="mb-4">
            <h5 class="text-primary">
              <i class="fa-solid fa-folder"></i>&emsp;<%= link_to node.name, node %>
            </h5>
            <% if node.features.any? %>
              <% node.features.each do |feature| %>
                <div class="ms-4 mb-3">
                  <h6 class="text-info">
                    <i class="fa-solid fa-list"></i>&emsp;<%= link_to feature.name, feature %>
                    <span class="text-secondary fst-italic ms-2">(<%= feature.grouping %>)</span>
                  </h6>
                  <% if feature.voices.any? %>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-secondary"><i class="fa-solid fa-cubes"></i>&emsp;Raggruppamento</th>
                          <th class="text-secondary"><i class="fa-regular fa-rectangle-list"></i>&emsp;Voce</th>
                          <th class="text-secondary"><i class="fa-solid fa-stop"></i>&emsp;Tipo</th>
                          <th class="text-secondary"><i class="fa-regular fa-square"></i>&emsp;Valore</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% feature.voices.order(:grouping, :name).each do |voice| %>
                          <tr>
                            <td class="text-secondary"><%= voice.grouping %></td>
                            <td class="text-info fw-bold"><%= voice.name %></td>
                            <td class="text-secondary"><%= voice.value_type %></td>
                            <td><%= value_type_image(voice) %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <p class="text-muted ms-4 fst-italic">Nessuna voce presente</p>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <p class="text-muted ms-4 fst-italic">Nessun attributo presente</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>