<div class="col-12">
  <p class="ps-3">
    <%= user_avatar(@user)%>
    &emsp; <span class="fs-3 fw-bold text-primary">
      <%= "#{@user&.first_name} #{@user&.last_name}".html_safe %>
    </span>
    <span class="float-end">
      <%= link_to users_path, class: "btn btn-light me-3" do %>
        Chiudi
      <% end %>
    </span>
  </p>
  <div class="card bg-white border p-3">
    <div class="row">
      <div class="col-6">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-user"></i>&emsp;Nome:</td>
              <td class="text-dark"><%= @user.first_name %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-user-group"></i>&emsp;Cognome:</td>
              <td class="text-dark"><%= @user.last_name %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-mars-and-venus"></i>&emsp;Sesso:</td>
              <td class="text-dark"><%= @user.gender %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-calendar-day"></i>&emsp;Data di Nascita:</td>
              <td class="text-dark"><%= l(@user.birth_date) if @user.birth_date.present? %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-city"></i>&emsp;Luogo di Nascita:</td>
              <td class="text-dark"><%= @user.birth_place %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-id-badge"></i>&emsp;Codice Fiscale:</td>
              <td class="text-dark"><%= @user.fiscal_code %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-circle-user"></i>&emsp;Nome Utente:</td>
              <td class="text-dark"><%= @user.username %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-key"></i>&emsp;Password:</td>
              <td class="text-dark"><%= @user.password %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-at"></i>&emsp;E-Mail:</td>
              <td class="text-dark"><%= @user.email %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-square"></i>&emsp;Categoria:</td>
              <td class="text-dark"><%= @user.category %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-location-pin"></i>&emsp;Regione:</td>
              <td class="text-dark"><%= @user.region %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-location-dot"></i>&emsp;Provincia:</td>
              <td class="text-dark"><%= @user.province %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-building"></i>&emsp;Istituto:</td>
              <td class="text-dark"><%= @user.institute %></td>
            </tr>
            <tr>
              <td class="text-primary"><i class="fa-solid fa-building-user"></i>&emsp;Ufficio:</td>
              <td class="text-dark"><%= @user.office %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card bg-white border p-3">
          <h4 class="text-primary">
            <%= image_tag "groups/groups-logo.svg", class: "ms-3", size: "36x36" %>
            &emsp;
            Gruppi di Appartenenza
          </h4>
          <hr/>
          <div class="row">
            <% @user.groups.order(name: :asc).each do |group| %>
              <div class="col-4 mb-2">
                <i class="fa-solid fa-users text-secondary fs-5 fw-bold"></i>&emsp;<span class="text-secondary fs-5 fw-bold"><%= link_to group.name, group %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>